@using Vidly.Models
@model List<Movie>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Movies</title>
</head>
<body>
@Html.Partial("_NavView")

    <h2> Movies </h2>
    <br>
    <br/>
    <table class="table table-bordered table-hover">
        <colgroup>
            <col class="col-md-3">
            <col class="col-md-7">
        </colgroup>
        <thead class="thead-default">
        <tr>
            <th>Movie Title</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, @"Edit", "Movies", new {movie.Id}, null)</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
        </tbody>

    </table>

</body>
</html>
